.settings{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.updatedata{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin-top: 100px;
    height: fit-content;
    background-color: #50b7f5;
    border-radius: 24px;
    font-size: 50px;
    font-weight: bold;
}
.newinput{
    outline: none;
    border: none;
    background: transparent;
    padding: 12px 24px;
    font-size: 50px;
    float: right;
    
}
.visible{
    width: 50px;
    border: none;
    background-color: transparent;
}
.newinput::placeholder{
    text-align: center;
}
 .backgroundoption{
    display: flex;
    flex-direction: row;
}

.button-row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}

.orb {
  font-size: 40px;
  background-color: #50b7f5;
  color: white;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}