.button_action {
    display: flex;
    gap: 20px;
    padding: 10px;
  }
  
  .button_action button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.2s, background 0.2s;
  }
  
  .button_action button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: red; 
  }
  
  .button_action .icon {
    display: block;

}

.posting_card {
    width: 500px;         
    padding: 16px;       
    border-radius: 12px;    
    color: #fff;        
  }

  .posting_card img {
    width: 100%;          
    height: auto;        
    border-radius: 10px; 
  }

  .user-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    color: black;
  }
  
  .user-header img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .display-name {
    font-weight: bold;
    margin: 0;
  }
  
  .username {
    color: #aaa;
    font-size: 0.9em;
    margin: 0;
  }
  
  .follow-btn {
    margin-left: auto;
    background-color: black;
    color: white;
    padding: 6px 16px;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .follow-btn:hover {
    background-color: #e2e2e2;
  }
